<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://bjbgp02.baidupcs.com/file/9eb2777fe337e62b02984c17489cd8f8?bkt=p3-000036cef0ed88e9272f916c14bca7930f28&amp;fid=1107835321-250528-794149227155798&amp;time=1482584940&amp;sign=FDTAXGERLBH-DCb740ccc5511e5e8fedcff06b081203-tBMjjZnPBV5qQyjg4W9ARh3S3AU%3D&amp;to=fbjbgp&amp;fm=Yan,B,G,bs&amp;sta_dx=47351077&amp;sta_cs=&amp;sta_ft=ipa&amp;sta_ct=0&amp;sta_mt=0&amp;fm2=Yangquan,B,G,bs&amp;newver=1&amp;newfm=1&amp;secfm=1&amp;flow_ver=3&amp;pkey=000036cef0ed88e9272f916c14bca7930f28&amp;sl=76480590&amp;expires=8h&amp;rt=sh&amp;r=323871318&amp;mlogid=8323469471677936428&amp;vuk=1107835321&amp;vbdid=2979219352&amp;fin=delayWX.ipa&amp;fn=delayWX.ipa&amp;slt=pm&amp;uta=0&amp;rtype=1&amp;iv=0&amp;isw=0&amp;dp-logid=8323469471677936428&amp;dp-callid=0.1.1&amp;hps=1&amp;csl=80&amp;csign=Cj3gHUxhwzI8LTJxaAt1Ri3lByA%3D</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://is5.mzstatic.com/image/thumb/Purple91/v4/d7/a2/0a/d7a20af0-9799-37fe-f9f0-d2d8ea6e40ce/source/175x175bb.jpg</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://is5.mzstatic.com/image/thumb/Purple91/v4/d7/a2/0a/d7a20af0-9799-37fe-f9f0-d2d8ea6e40ce/source/175x175bb.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.tencent.xin</string>
				<key>bundle-version</key>
				<string>2.0.9</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>wx</string>
				<key>title</key>
				<string>wx</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
