<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://sz.btfs.mail.ftn.qq.com/ftn_handler/f4e016ce84f11a7dbebdef59215bc45a51b6c5ecac4b5430ddebc39acfbb53e873007c6266675dab67549fea49f9f09c2563a853d9d698911934a6b3f32f2595?compressed=0&amp;dtype=1&amp;fname=delay.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://is5.mzstatic.com/image/thumb/Purple91/v4/d7/a2/0a/d7a20af0-9799-37fe-f9f0-d2d8ea6e40ce/source/175x175bb.jpg</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://is5.mzstatic.com/image/thumb/Purple91/v4/d7/a2/0a/d7a20af0-9799-37fe-f9f0-d2d8ea6e40ce/source/175x175bb.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.tencent.xin</string>
				<key>bundle-version</key>
				<string>2.0.9</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>wx</string>
				<key>title</key>
				<string>wx</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
